@media (min-width: 768px) and (max-width: 1024px) {
    .info-container .text-wrapper {
        max-width: 45vw;
    }

    .image-wrapper .description-pic {
        width: 40vw;
    }

    .contact-list .contact-row {
        width: 100%;
    }
}